.full-wide-body-content{
    padding: 0;
    padding-top: 20px;
    padding-right: 15px;
    overflow-x: no-display;
    width: 100%;
    max-width: 100%;
}

/*#region 数据页头部 */


.layout-header{
    padding-top: 50px;
    height:250px;
    width: 100%;
    opacity:0.9;
    margin-bottom: 70px;
}
.layout-header h1{
    text-align:left;
    font-weight:400;
    font-size:60px;
    padding-top:20px;
    margin-top: 0;
    margin-bottom:10px;
    letter-spacing:10px;
    color:white;
}

.layout-header p{
    text-align:left;
    font-size: 20px;
    font-weight:300;
    letter-spacing:2px;
    line-height:1.4;
    color:white;
}

/*#endregion */




/*#region 加载 */

.overlay-container {
    position:fixed;
    top: 200px;
    margin: 0;
    padding: 1em;
    clear: both;
    line-height: 150%;
    vertical-align: middle;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index:1;
    background-color: rgba(241, 237, 237, 0.9);
}

.overlay-container >span{
    display:none;
    position:relative;
    float:right;
    margin-right:5px;
}

.overlay-container >span:hover{
    cursor: pointer;
}

.overlay-container h2 {
    line-height: 1.25;
    margin: 0 0 0 0;
    font-size: 150%;
    font-weight: 600;
    position: relative;
    color: #0072c6;
    text-align: center;
    clear:both;
}

#loading-animation {
    background: url('../images/load64x64.gif') no-repeat;
    width: 64px;
    height: 64px;
    margin: 40px auto;
}

/*#endregion */


