* {
    font-family:'Microsoft YaHei';
    font-size:16px;
    margin:0;
    padding:0;
}

.long-background {
    width: 100%;
    background: linear-gradient(30deg, #2c0138 0%, #47006c 51%, #5c0063 75%);
    background: -webkit-linear-gradient(30deg, #2c0138 0%, #47006c 51%, #5c0063 75%);
    background: -moz-linear-gradient(30deg, #2c0138 0%, #47006c 51%, #5c0063 75%);
    background: -o-linear-gradient(30deg, #2c0138 0%, #47006c 51%, #5c0063 75%);
    background-size:100% 630px;
    background-repeat:no-repeat;
}

.short-background {
    background-image: url(../images/head-bg.jpg);
    background-size: 100% 320px;
    background-repeat :no-repeat;
}

body {
    position: relative;
}

#loading-progress-container{
    position: absolute;
    top: 0;
    width: 100%;
    transition: all ease 1s;
}

/**ËÆÓÐbug*/
.modal-backdrop {
    z-index: 1029;
}
.modal-open {
    overflow: auto;
}

