<div>
    <div class="selection-content">
        <ol class="breadcrumb">
            <li><a ui-sref="selection.FeedSystem">进给轴{{state.axisID}}轴</a></li>
            <li class="active">滚珠丝杠列表</li>
        </ol>
        <div class="row">
            <div class="col-md-5">
                <img src="./images/Mechanics/滚珠丝杠-表/滚珠丝杠螺母副.jpg" class="img-thumbnail" alt="滚珠丝杠">
            </div>
            <form name="ballscrewForm">
                <div class="col-md-4">
                    <div class="panel panel-default panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">滚珠丝杠参数</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="accuracyClass" class="control-label">精度等级:</label>
                                    <select id="accuracyClass" class="form-control" ng-options="data as data.name for data in accuracyClassOptions" ng-model="ballscrewPara.accuracyClass"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group">
                                    <label for="reliability" class="control-label">可靠性:</label>
                                    <select id="reliability" class="form-control" ng-options="data as data.name for data in reliabilityOptions" ng-model="ballscrewPara.reliability"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group">
                                    <label for="supportMode" class="control-label">支撑方式:</label>
                                    <select id="supportMode" class="form-control" ng-options="data for data in supportModeOptions" ng-model="ballscrewPara.supportMode"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group">
                                    <label for="preloadType" class="control-label">预载类型:</label>
                                    <select id="preloadType" class="form-control" ng-options="data as data.name for data in preloadTypeOptions" ng-model="ballscrewPara.preloadType"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':ballscrewForm.workingLife.$invalid && !ballscrewForm.workingLife.$pristine}">
                                    <label for="workingLife" class="control-label">工作寿命:</label>
                                    <input type="number" id="workingLife" name="workingLife" class="form-control" ng-model="ballscrewPara.workingLife" style="width:40%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required>
                                    <label class="control-label">h</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':ballscrewForm.screwLength.$invalid && !ballscrewForm.screwLength.$pristine}">
                                    <label for="screwLength" class="control-label">丝杠总长:</label>
                                    <input type="number" id="screwLength" name="screwLength" class="form-control" ng-model="ballscrewPara.screwLength" style="width:40%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required>
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':ballscrewForm.locationAccuracy.$invalid && !ballscrewForm.locationAccuracy.$pristine}">
                                    <label for="locationAccuracy" class="control-label">定位精度:</label>
                                    <input type="number" id="locationAccuracy" name="locationAccuracy" class="form-control" ng-model="ballscrewPara.locationAccuracy" style="width:40%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required>
                                    <label class="control-label">μm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':ballscrewForm.repeatLocationAccuracy.$invalid && !ballscrewForm.repeatLocationAccuracy.$pristine}">
                                    <label for="repeatLocationAccuracy" class="control-label">重复定位精度:</label>
                                    <input type="number" id="repeatLocationAccuracy" name="repeatLocationAccuracy" class="form-control" ng-model="ballscrewPara.repeatLocationAccuracy" style="width:40%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required>
                                    <label class="control-label">μm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':ballscrewForm.motorMaxSpeed.$invalid && !ballscrewForm.motorMaxSpeed.$pristine}">
                                    <label for="motorMaxSpeed" class="control-label">初选点击最大转速:</label>
                                    <input type="number" id="motorMaxSpeed" name="motorMaxSpeed" class="form-control" ng-model="ballscrewPara.motorMaxSpeed" style="width:30%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required>
                                    <label class="control-label">r/min</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">计算结果</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">导程:</label>
                                    <p class="form-control-static">{{caculation.lead}}</p>
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">额定动载荷:</label>
                                    <p class="form-control-static">{{caculation.dynamicLoad}}</p>
                                    <label class="control-label">kN</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">最小底径:</label>
                                    <p class="form-control-static">{{caculation.minDiameter}}</p>
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">等效转矩:</label>
                                    <p class="form-control-static">{{caculation.torque}}</p>
                                    <label class="control-label">N·m</label>
                                </div>
                            </div>
                            <p class="text-danger" ng-bind="message"></p>
                            <div class="row">
                                <button type="button" class="btn btn-success col-md-3 col-md-offset-2" ng-click="caculate()" ng-disabled="ballscrewForm.$invalid">计算</button>
                                <button type="button" class="btn btn-success col-md-3 col-md-offset-2" ng-click="reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="selection-content">
        <div class="cncdata-table-select">
            <div class="cncdata-table-col" ng-switch="state.colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>钢球尺寸</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>丝杠尺寸</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>配合尺寸</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>极限转速</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[4]" ng-click="toggleCol(4, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>外形参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[5]" ng-click="toggleCol(5, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>物理性质</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedDynamicLoad_Ca')" title="按此列排序">
                            基本额定动载荷Ca
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'BasicRatedDynamicLoad_Ca'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-BasicRatedDynamicLoad_Ca'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedStaticLoad_Coa')" title="按此列排序">
                            基本额定静载荷Coa
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'BasicRatedStaticLoad_Coa'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-BasicRatedStaticLoad_Coa'"></span>
                        </td>
                        
                        <td class="table-td-orderable" ng-click="changeOrderProperty('NominalDiameter_d0')" title="按此列排序">
                            公称直径d0
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'NominalDiameter_d0'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-NominalDiameter_d0'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('NominalLead_Ph0')" title="按此列排序">
                            公称导程Ph0
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'NominalLead_Ph0'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-NominalLead_Ph0'"></span>
                        </td>
                        <td>刚度</td>
                        <td ng-if="state.colState[0]">钢球直径DW</td>
                        <td ng-if="state.colState[1]">丝杠外径d1</td>
                        <td ng-if="state.colState[1]">丝杠底径d2</td>
                        <td ng-if="state.colState[2]">轴承内径配合直径</td>
                        <td ng-if="state.colState[2]">联轴器轴孔配合直径</td>
                        <td ng-if="state.colState[3]">极限转速</td>

                        <td ng-if="state.colState[4]">两双推轴承之间的距离</td>
                        <td ng-if="state.colState[4]">丝杠总长L</td>
                        <td ng-if="state.colState[4]">循环总圈数n</td>
                        <td ng-if="state.colState[4]">尺寸D3</td>
                        <td ng-if="state.colState[4]">尺寸D4</td>
                        <td ng-if="state.colState[4]">尺寸D5</td>
                        <td ng-if="state.colState[4]">尺寸D6</td>
                        <td ng-if="state.colState[4]">尺寸D7</td>
                        <td ng-if="state.colState[4]">尺寸L1</td>
                        <td ng-if="state.colState[4]">螺钉孔个数m</td>

                        <td ng-if="state.colState[5]">密度</td>
                        <td ng-if="state.colState[5]">弹性模量</td>
                        <td ng-if="state.colState[5]">剪切弹性模量</td>
                        <td ng-if="state.colState[5]">丝杠与螺母结合面径向阻尼系数</td>
                        <td ng-if="state.colState[5]">滚珠丝杠副处的粘滞摩擦因素</td>
                        <td ng-if="state.colState[5]">滚珠丝杠预紧效率</td>

                        <td>详情</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy: state.orderProperty | pageBy: state.paginationIndex: state.paginationSize"
                        ng-click="selectItem(item)"
                        ng-class="{trselected: item.TypeID === data.selectedTypeID}"
                        class="selection-table-tr">
                        <td style="width: 30px">{{$index + 1}}</td>
                        <td ng-bind="item.TypeID"></td>
                        <td ng-bind="item.Manufacturer" type="text"></td>
                        <td ng-bind="item.BasicRatedDynamicLoad_Ca" type="number"></td>
                        <td ng-bind="item.BasicRatedStaticLoad_Coa" type="number"></td>
                        <td ng-bind="item.NominalDiameter_d0" type="number"></td>
                        <td ng-bind="item.NominalLead_Ph0" type="number"></td>
                        <td ng-bind="item.Stiffness" type="number"></td>

                        <td ng-if="state.colState[0]" ng-bind="item.DiameterOfSteelBall_DW" type="number"></td>
                        <td ng-if="state.colState[1]" ng-bind="item.OuterDiameterOfScrew_d1" type="number"></td>
                        <td ng-if="state.colState[1]" ng-bind="item.BottomDiameterOfScrew_d2" type="number"></td>
                        <td ng-if="state.colState[2]" ng-bind="item.AdaptableDiameterWithBearing" type="number"></td>
                        <td ng-if="state.colState[2]" ng-bind="item.AdaptableDiameterWithCouplingShaftHole" type="number"></td>
                        <td ng-if="state.colState[3]" ng-bind="item.LimitRotationSpeed" type="number"></td>

                        <td ng-if="state.colState[4]" ng-bind="item.DistanceBetweenTwoPushBearings" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.LengthOfScrew_L" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.TotalCycleTurns_n" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_D3" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_D4" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_D5" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_D6" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_D7" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.Size_L1" type="number"></td>
                        <td ng-if="state.colState[4]" ng-bind="item.NumberOfScrewHoles_m" type="number"></td>

                        <td ng-if="state.colState[5]" ng-bind="item.Density" type="number"></td>
                        <td ng-if="state.colState[5]" ng-bind="item.ElasticModulus" type="number"></td>
                        <td ng-if="state.colState[5]" ng-bind="item.ShearElasticModulus" type="number"></td>
                        <td ng-if="state.colState[5]" ng-bind="item.RadialDampingCoefficient" type="number"></td>
                        <td ng-if="state.colState[5]" ng-bind="item.ViscousFrictionFactor" type="number"></td>
                        <td ng-if="state.colState[5]" ng-bind="item.EfficiencyOfBallScrewPreload" type="number"></td>

                        <td><a ui-sref="selection.FeedSystem.ScrewNuts.Details({id:item.TypeID})">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <cnc-pagination></cnc-pagination>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" ng-click="nextStep()" class="btn btn-success" ng-disabled="!data.selectedTypeID">下一步</button>
            </div>
            <div>
                <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
            </div>
        </div>
    </div>
</div>
