<div>
    <div class="selection-content">
        <ol class="breadcrumb">
            <li><a ui-sref="selection.FeedSystem">进给轴{{state.axisID}}轴</a></li>
            <li class="active">伺服驱动列表</li>
        </ol>
        <div class="row">
            <div class="col-md-4">
                <img src="./images/Servo/Driver.jpg" class="driver-img" alt="伺服驱动">
            </div>
            <div class="col-md-offset-2 col-md-4">
                <div class="panel panel-default panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title">伺服驱动参数</h3>
                    </div>
                    <div class="panel-body">
                        <form name="driverForm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label" for="manufacturer">生产厂家:</label>
                                    <select class="form-control" id="manufacturer" ng-options="data for data in state.manufacturerOptions" ng-model="state.currentManufacturer"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="powerType">输入电源类型:</label>
                                    <select class="form-control" id="powerType" ng-options="data.name for data in powerTypeOptions" ng-model="driverPara.powerType"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="overloadCurrent">电流过载倍数:</label>
                                    <input class="form-control" id="overloadCurrent" type="number" ng-model="driverPara.overloadCurrent" placeholder="请输入值" style="width:40%">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputCurrent">电机输入电流:</label>
                                    <input class="form-control" id="inputCurrent" type="number" ng-model="driverPara.inputCurrent" placeholder="请输入值" style="width:40%">
                                    <label class="control-label">A</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ratedCurrent">额定输出电流:</label>
                                    <div class="form-control-static">{{driverPara.ratedCurrent}}</div>
                                    <label class="control-label">A</label>
                                </div>
                                <div class="row">
                                    <button class="btn btn-success col-md-offset-2 col-md-3" type="button" ng-click="caculate()">计 算</button>
                                    <button class="btn btn-danger col-md-offset-2 col-md-3" type="button" ng-click="reset()">重 置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="selection-content">
        <div class="cncdata-table">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 30px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('ContinuousCurrent')" title="按此列排序">
                            连续电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'ContinuousCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-ContinuousCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('PeakCurrent')" title="按此列排序">
                            峰值电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'PeakCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-PeakCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('SupplyVoltage')" title="按此列排序">
                            电源电压
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'SupplyVoltage'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-SupplyVoltage'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxAdaptableMotorPower')" title="按此列排序">
                            最大适配电机功率
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxAdaptableMotorPower'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxAdaptableMotorPower'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxBrakingCurrent')" title="按此列排序">
                            最大制动电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxBrakingCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxBrakingCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('ExternalBrakingResistance')" title="按此列排序">
                            外接制动电阻
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'ExternalBrakingResistance'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-ExternalBrakingResistance'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('CycleOfPWM')" title="按此列排序">
                            PWM周期
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'CycleOfPWM'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-CycleOfPWM'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('SupplyVoltageOfDC')" title="按此列排序">
                            直流供电电压
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'SupplyVoltageOfDC'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-SupplyVoltageOfDC'"></span>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy: state.orderProperty | pageBy: state.paginationIndex: state.paginationSize"
                        ng-click="selectItem(item)"
                        ng-class="{trselected: item.TypeID === data.selectedTypeID}"
                        class="selection-table-tr">
                        <td style="width: 30px">{{$index + 1}}</td>
                        <td ng-bind="item.TypeID"></td>
                        <td ng-bind="item.Manufacturer" type="text"></td>
                        <td ng-bind="item.ContinuousCurrent" type="number"></td>
                        <td ng-bind="item.PeakCurrent" type="number"></td>
                        <td ng-bind="item.SupplyVoltage"></td>
                        <td ng-bind="item.MaxAdaptableMotorPower"></td>
                        <td ng-bind="item.MaxBrakingCurrent" type="number"></td>
                        <td ng-bind="item.ExternalBrakingResistance" type="number"></td>
                        <td ng-bind="item.CycleOfPWM" type="number"></td>
                        <td ng-bind="item.SupplyVoltageOfDC" type="number"></td>

                        <td><a ui-sref="selection.FeedSystem.Couplings.Details({id:item.TypeID})">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <cnc-pagination></cnc-pagination>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" ng-click="nextStep()" class="btn btn-success" ng-disabled="!data.selectedTypeID">下一步</button>
            </div>
            <div>
                <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
            </div>
        </div>
    </div>
</div>
