<div class="list-content">
    <div>
        <h4 class="head-title">
            <span class="glyphicon glyphicon-list"></span>
            滚针轴承和推力滚子组合轴承参数表
            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
        </h4>
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>内径d</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>外径D</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>其他尺寸参数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>载荷参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[4]" ng-click="toggleCol(4, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>速度参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[5]" ng-click="toggleCol(5, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>其他参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[6]" ng-click="toggleCol(6, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>说明</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('InnerDiameter_d')" ng-show="colState[0]" title="按此列排序">
                            内径 (d/mm)
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'InnerDiameter_d'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-InnerDiameter_d'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Diameter_D')" ng-show="colState[1]" title="按此列排序">
                            外径 (D/mm)
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Diameter_D'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Diameter_D'"></span>
                        </td>
                        <td ng-if="colState[2]">宽度 (T/mm)</td>
                        <td ng-if="colState[2]">尺寸 (T1/mm)</td>
                        <td ng-if="colState[2]">尺寸 (C/mm)</td>
                        <td ng-if="colState[2]">尺寸 (D1/mm)</td>
                        <td ng-if="colState[2]">尺寸 (T2/mm)</td>
                        <td ng-if="colState[2]">尺寸 (d11/mm)</td>
                        <td ng-if="colState[2]">油孔 (d1/mm)</td>
                        <td ng-if="colState[2]">油孔数量</td>
                        <td ng-if="colState[2]">尺寸 (rsmin/mm)</td>
                        <td ng-if="colState[2]">尺寸 (r1min/mm)</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedDynamicLoad')" ng-show="colState[3]" title="按此列排序">
                            基本额定动载荷
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'BasicRatedDynamicLoad'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-BasicRatedDynamicLoad'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedStaticLoad')" ng-show="colState[3]" title="按此列排序">
                            基本额定静载荷
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'BasicRatedStaticLoad'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-BasicRatedStaticLoad'"></span>
                        </td>
                        <td ng-if="colState[4]">脂润滑极限速度</td>
                        <td ng-if="colState[4]">油润滑极限速度</td>
                        <td ng-if="colState[5]">轴承轴向刚度</td>
                        <td ng-if="colState[5]">轴承启动转矩</td>
                        <td ng-if="colState[5]">预紧力力矩</td>
                        <td ng-if="colState[5]">质量</td>
                        <td ng-if="colState[6]">说明</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in items | orderBy: orderProperty">
                        <td style="width: 100px">
                            {{$index + 1}}
                            <span class="glyphicon glyphicon-pencil span-button pull-right" title="编辑这条记录" ng-click="updateItemLocal(model)"></span>
                            <button type="button" class="close" ng-click="showDeleteModal(model)" title="在数据库中删除这条记录">&times;</button>
                        </td>
                        <td>{{model.TypeID}}</td>
                        <td ng-bind="model.Manufacturer" type="text"></td>
                        <td ng-bind="model.InnerDiameter_d" ng-show="colState[0]" type="number"></td>
                        <td ng-bind="model.Diameter_D" ng-show="colState[1]" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Width_T" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_T1" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_C" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_D1" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_T2" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_d11" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.OilHole_d1" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.NumberOfOilHole" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_rsmin" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Size_r1min" type="number"></td>
                        <td ng-show="colState[3]" ng-bind="model.BasicRatedDynamicLoad"></td>
                        <td ng-show="colState[3]" ng-bind="model.BasicRatedStaticLoad"></td>
                        <td ng-if="colState[4]" ng-bind="model.SpeedLimitOfGrease" type="number"></td>
                        <td ng-if="colState[4]" ng-bind="model.SpeedLimitOfOil" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.BearingAxialStiffness" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.BearingStartingTorque" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.PreloadTorque" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.Mass" type="number"></td>
                        <td ng-if="colState[6]" ng-bind="model.Description" type="text"></td>
                    </tr>
                    <tr ng-show="addingItems.length">
                        <td colspan="6">
                            <span class="text-center">下方为表格编辑区，可直接在表格内编辑</span>
                            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
                        <td>
                    </tr>
                    <tr ng-repeat="item in addingItems">
                        <td class="table-td-btn" ng-click="addItemRemote(item)">
                            添加到数据库
                            <button type="button" class="close" ng-click="deleteItemLocal(item)">&times;</button>
                        </td>
                        <td class="" ng-bind="item.TypeID"></td>
                        <td class="" ng-model="item.Manufacturer" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.InnerDiameter_d" ng-show="colState[0]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Diameter_D" ng-show="colState[1]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Width_T" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_T1" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_C" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_D1" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_T2" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_d11" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.OilHole_d1" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.NumberOfOilHole" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_rsmin" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Size_r1min" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[3]" ng-model="item.BasicRatedDynamicLoad" contenteditable type="number"></td>
                        <td class="" ng-show="colState[3]" ng-model="item.BasicRatedStaticLoad" contenteditable type="number"></td>
                        <td class="" ng-model="item.SpeedLimitOfGrease" ng-if="colState[4]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.SpeedLimitOfOil" ng-if="colState[4]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.BearingAxialStiffness" ng-if="colState[5]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.BearingStartingTorque" ng-if="colState[5]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.PreloadTorque" ng-if="colState[5]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Mass" ng-if="colState[5]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Description" ng-if="colState[6]" contenteditable="true" type="text"></td>
                    </tr>
                    <tr>
                        <td>
                            添加数据
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showAddModal()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-desc">
        <h4 class="head-title">
            <span class="glyphicon glyphicon-tags"></span>
            尺寸说明
        </h4>
        <div class="row">
            <div class="col-sm-6 list-desc-img">
                <img src="./images/Mechanics/滚动轴承-表/6-调心球轴承-表.jpg" />
            </div>
            <div class="col-sm-6 list-desc-txt">
                <p>
                    主要承受径向载荷，也可承受少量双向轴向载荷。内、外圈轴线允许相对偏斜2°~3°，适用于
                    多支点轴、弯曲刚度小的轴以及难以精确对中的轴。
                </p>
            </div>
        </div>
    </div>
</div>

