<div class="list-content">
    <div>
        <h4 class="head-title">
            <span class="glyphicon glyphicon-list"></span>
            主轴同步带带长参数表
            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
        </h4>
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>MXL齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>XXL齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>XL齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>L齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[4]" ng-click="toggleCol(4, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>H齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[5]" ng-click="toggleCol(5, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>XH齿数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[6]" ng-click="toggleCol(6, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>XXH齿数</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('LengthID')" title="按此列排序">
                            长度代号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'LengthID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-LengthID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('LengthOfBelt')" title="按此列排序">
                            带长
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'LengthOfBelt'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-LengthOfBelt'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MXL_TeethNumber')" ng-show="colState[0]" title="按此列排序">
                            MXL齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MXL_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MXL_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('XXL_TeethNumber')" ng-show="colState[1]" title="按此列排序">
                            XXL齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'XXL_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-XXL_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('XL_TeethNumber')" ng-show="colState[2]" title="按此列排序">
                            XL齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'XL_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-XL_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('L_TeethNumber')" ng-show="colState[3]" title="按此列排序">
                            L齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'L_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-L_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('H_TeethNumber')" ng-show="colState[4]" title="按此列排序">
                            H齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'H_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-H_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('XH_TeethNumber')" ng-show="colState[5]" title="按此列排序">
                            XH齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'XH_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-XH_TeethNumber'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('XXH_TeethNumber')" ng-show="colState[6]" title="按此列排序">
                            XXH齿数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'XXH_TeethNumber'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-XXH_TeethNumber'"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in items | orderBy: orderProperty">
                        <td style="width: 100px">
                            {{$index + 1}}
                            <span class="glyphicon glyphicon-pencil span-button pull-right" title="编辑这条记录" ng-click="updateItemLocal(model)"></span>
                            <button type="button" class="close" ng-click="showDeleteModal(model)" title="在数据库中删除这条记录">&times;</button>
                        </td>
                        <td>{{model.LengthID}}</td>
                        <td ng-bind="model.LengthOfBelt" type="text"></td>
                        <td ng-show="colState[0]" ng-bind="model.MXL_TeethNumber"  type="number"></td>
                        <td ng-show="colState[1]" ng-bind="model.XXL_TeethNumber"  type="number"></td>
                        <td ng-show="colState[2]" ng-bind="model.XL_TeethNumber" type="number"></td>
                        <td ng-show="colState[3]" ng-bind="model.L_TeethNumber" type="number"></td>
                        <td ng-show="colState[4]" ng-bind="model.H_TeethNumber" type="number"></td>
                        <td ng-show="colState[5]" ng-bind="model.XH_TeethNumber" type="number"></td>
                        <td ng-show="colState[6]" ng-bind="model.XXH_TeethNumber" type="number"></td>
                    </tr>
                    <tr ng-show="addingItems.length">
                        <td colspan="6">
                            <span class="text-center">下方为表格编辑区，可直接在表格内编辑</span>
                            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
                        <td>
                    </tr>
                    <tr ng-repeat="item in addingItems">
                        <td class="table-td-btn" ng-click="addItemRemote(item)">
                            添加到数据库
                            <button type="button" class="close" ng-click="deleteItemLocal(item)">&times;</button>
                        </td>
                        <td class="" ng-bind="item.LengthID"></td>
                        <td class="" ng-model="item.LengthOfBelt" contenteditable="true" type="text"></td>
                        <td class="" ng-show="colState[0]" ng-model="item.MXL_TeethNumber"  contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[1]" ng-model="item.XXL_TeethNumber" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[2]" ng-model="item.XL_TeethNumber" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[3]" ng-model="item.L_TeethNumber" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[4]" ng-model="item.H_TeethNumber" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[5]" ng-model="item.XH_TeethNumber" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[6]" ng-model="item.XXH_TeethNumber" contenteditable="true" type="number"></td>
                    </tr>
                    <tr>
                        <td>
                            添加数据
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showAddModal()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-desc">
        <h4 class="head-title">
            <span class="glyphicon glyphicon-tags"></span>
            尺寸说明
        </h4>
        <div class="row">
            <div class="col-sm-6 list-desc-img">
                <img src="./images/Mechanics/传动带-表/带传动.jpg" />
            </div>
            <div class="col-sm-6 list-desc-txt">
                <p>
                    主轴传送带。
                </p>
            </div>
        </div>
    </div>
</div>
<datalist-modal></datalist-modal>

