<div class="list-content">
    <div>
        <h4 class="head-title">
            <span class="glyphicon glyphicon-list"></span>
            主轴同步带技术参数表
            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
        </h4>
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>材料</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>带型</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>尺寸参数</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>力学参数</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Material')" ng-show="colState[0]" title="按此列排序">
                            材料
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Material'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Material'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BeltType')" ng-show="colState[1]" title="按此列排序">
                            带型
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'BeltType'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-BeltType'"></span>
                        </td>
                        <td ng-if="colState[2]">带宽 /mm</td>
                        <td ng-if="colState[2]">带长 /mm</td>
                        <td ng-if="colState[2]">节距 /mm</td>
                        <td ng-if="colState[2]">紧边长度 /mm</td>
                        <td ng-if="colState[2]">齿数</td>
                        <td ng-if="colState[2]">截面面积 /m^2</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('ElasticModulus')" ng-show="colState[3]" title="按此列排序">
                            弹性模量Pa
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'ElasticModulus'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-ElasticModulus'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('DriveTorque')" ng-show="colState[3]" title="按此列排序">
                            传动力矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'DriveTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-DriveTorque'"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in items | orderBy: orderProperty">
                        <td style="width: 100px">
                            {{$index + 1}}
                            <span class="glyphicon glyphicon-pencil span-button pull-right" title="编辑这条记录" ng-click="updateItemLocal(model)"></span>
                            <button type="button" class="close" ng-click="showDeleteModal(model)" title="在数据库中删除这条记录">&times;</button>
                        </td>
                        <td>{{model.TypeID}}</td>
                        <td ng-bind="model.Manufacturer" type="text"></td>
                        <td ng-bind="model.Material" ng-show="colState[0]" type="text"></td>
                        <td ng-bind="model.BeltType" ng-show="colState[1]" type="text"></td>
                        <td ng-if="colState[2]" ng-bind="model.BeltWidth" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.BeltLength" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.Pitch" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.TightSideLength" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.TeethNumber" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.SectionalArea" type="number"></td>
                        <td ng-show="colState[3]" ng-bind="model.ElasticModulus" type="number"></td>
                        <td ng-show="colState[3]" ng-bind="model.DriveTorque" type="number"></td>
                    </tr>
                    <tr ng-show="addingItems.length">
                        <td colspan="6">
                            <span class="text-center">下方为表格编辑区，可直接在表格内编辑</span>
                            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
                        <td>
                    </tr>
                    <tr ng-repeat="item in addingItems">
                        <td class="table-td-btn" ng-click="addItemRemote(item)">
                            添加到数据库
                            <button type="button" class="close" ng-click="deleteItemLocal(item)">&times;</button>
                        </td>
                        <td class="" ng-bind="item.TypeID"></td>
                        <td class="" ng-model="item.Manufacturer" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.Material" ng-show="colState[0]" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.BeltType" ng-show="colState[1]" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.BeltWidth" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.BeltLength" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Pitch" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.TightSideLength" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.TeethNumber" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.SectionalArea" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-show="colState[3]" ng-model="item.ElasticModulus" contenteditable type="number"></td>
                        <td class="" ng-show="colState[3]" ng-model="item.DriveTorque" contenteditable type="number"></td>
                    </tr>
                    <tr>
                        <td>
                            添加数据
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showAddModal()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-desc">
        <h4 class="head-title">
            <span class="glyphicon glyphicon-tags"></span>
            尺寸说明
        </h4>
        <div class="row">
            <div class="col-sm-6 list-desc-img">
                <img src="./images/Mechanics/传动带-表/带传动.jpg" />
            </div>
            <div class="col-sm-6 list-desc-txt">
                <p>
                    主轴同步带技术参数。
                </p>
            </div>
        </div>
    </div>
</div>


