/src/CNCDataManager/bin
/src/CNCDataManager/obj
/src/CNCDataManager/node_modules
/src/CNCDataManager/dist/*

/src/CNCDataAPI/bin
/src/CNCDataAPI/obj
/src/CNCDataAPI/initial_files
/src/CNCDataAPI/Simulator
/src/CNCDataAPI/Setting
/src/CNCDataAPI/wwwroot/Mworks


/src/CNCDataManager_Publish

