/src/CNCDataManager/bin
/src/CNCDataManager/obj
/src/CNCDataManager/node_modules
/src/CNCDataManager/dist/*

/src/CNCDataManager_Core/bin
/src/CNCDataManager_Core/obj
/src/CNCDataManager_Core/FrontEnd
/src/CNCDataAPI/bin
/src/CNCDataAPI/obj

