<!--<div>
    <cncdata-index-panel ng-if="ifIndex"></cncdata-index-panel>
    <align-ball-brgs-panel ng-if="listName === 'AligningBallBearings'"></align-ball-brgs-panel>
    <align-roller-brgs-panel ng-if="listName === 'AligningRollerBearings'"></align-roller-brgs-panel>
    <ang-contact-ball-brgs ng-if="listName === 'AngularContactBallBearings'"></ang-contact-ball-brgs>
    <ball-lead-screw-spt-brgs ng-if="listName === 'BallLeadScrewSupportBearings'"></ball-lead-screw-spt-brgs>
    <cross-tapered-roller-brgs ng-if="listName === 'CrossTaperedRollerBearings'"></cross-tapered-roller-brgs>
    <cylin-roller-brgs ng-if="listName === 'CylindricalRollerBearings'"></cylin-roller-brgs>
    <deep-groove-ball-brgs ng-if="listName === 'DeepGrooveBallBearings'"></deep-groove-ball-brgs>
    <double-row-cylin-roller-brgs ng-if="listName === 'DoubleRowCylindricalRollerBearings'"></double-row-cylin-roller-brgs>
    <double-thrust-ang-contact-ball-brgs ng-if="listName === 'DoubleThrustAngularContactBallBearings'"></double-thrust-ang-contact-ball-brgs>
    <needle-roller-thrust-roller-brgs ng-if="listName === 'NeedleRollerAndThrustRollerBearings'"></needle-roller-thrust-roller-brgs>
    <tapered-roller-brgs ng-if="listName === 'TaperedRollerBearings'"></tapered-roller-brgs>

    <spindle-belt-length ng-if="listName === 'SpindleBeltLength'"></spindle-belt-length>
    <spindle-belt-paras ng-if="listName === 'SpindleBeltParas'"></spindle-belt-paras>
    <spindle-belt-sizes ng-if="listName === 'SpindleBeltSizes'"></spindle-belt-sizes>

    <bw-elastic-slv-pin-coupling ng-if="listName === 'BrakeWheelElasticSleevePinCoupling'"></bw-elastic-slv-pin-coupling>
    <elastic-slv-pin-coupling ng-if="listName === 'ElasticSleevePinCoupling'"></elastic-slv-pin-coupling>
    <flange-coupling ng-if="listName === 'FlangeCoupling'"></flange-coupling>
    <flexible-pin-coupling ng-if="listName === 'FlexiblePinCoupling'"></flexible-pin-coupling>
    <gear-coupling ng-if="listName === 'GearCoupling'"></gear-coupling>
    <hub-shaped-coupling ng-if="listName === 'HubShapedCouplings'"></hub-shaped-coupling>
    <oldham-coupling ng-if="listName === 'OldhamCoupling'"></oldham-coupling>
    <plum-shaped-flexible-coupling ng-if="listName === 'PlumShapedFlexibleCoupling'"></plum-shaped-flexible-coupling>

    <pm-srv-motor-drivers ng-if="listName === 'DriverOfServoMotorOfPMSACFS'"></pm-srv-motor-drivers>
    <srv-driver-brake-resistors ng-if="listName === 'SrvDriverBrakeResistor'"></srv-driver-brake-resistors>
    <srv-driver-reactors ng-if="listName === 'SrvDriverReactors'"></srv-driver-reactors>
    <srv-driver-transformers ng-if="listName === 'SrvDriverTransformers'"></srv-driver-transformers>
    <spindle-srv-motor-drivers ng-if="listName === 'SpindleSrvMotorDrivers'"></spindle-srv-motor-drivers>

    <spur-gears ng-if="listName === 'SpurGear'"></spur-gears>
    <heli-cylin-gears ng-if="listName === 'HelicalCylindricalGear'"></heli-cylin-gears>
    <straight-bevel-gears ng-if="listName === 'StraightBevelGear'"></straight-bevel-gears>

    <line-rolling-guides ng-if="listName === 'LinearRollingGuide'"></line-rolling-guides>

    <elec-spindle-paras ng-if="listName === 'ElectricSpindleParameter'"></elec-spindle-paras>
    <pm-srv-motor-paras ng-if="listName === 'ServoMotorParameterOfPMSACFS'"></pm-srv-motor-paras>
    <spindle-srv-motor-paras ng-if="listName === 'ServoMotorOfSpindleParameter'"></spindle-srv-motor-paras>

    <cables-panel ng-if="listName === 'Cables'"></cables-panel>
    <rotary-tables ng-if="listName === 'RotaryTable'"></rotary-tables>

    <nc-functional-options ng-if="listName === 'NCSystemFunctionalOptions'"></nc-functional-options>
    <nc-io-units ng-if="listName === 'NCSystemIOUnits'"></nc-io-units>
    <nc-manuals ng-if="listName === 'NCSystemManuals'"></nc-manuals>
    <nc-power-units ng-if="listName === 'NCSystemPowerUnits'"></nc-power-units>

    <arc-cylin-worm-gears ng-if="listName === 'ArcCylindricalWormGear'"></arc-cylin-worm-gears>

</div>-->

<div ui-view="list"></div>