<div>
    <div class="selection-content">
        <ol class="breadcrumb">
            <li><a ui-sref="selection.FeedSystem">进给轴{{state.axisID}}</a></li>
            <li class="active">伺服电机列表</li>
        </ol>
        <div class="row">
            <div class="col-md-4">
                <img src="./images/Motors/伺服电机.jpg" class="motor-img" alt="伺服电机">
            </div>
            <form name="servoMotorForm">
                <div class="col-md-offset-2 col-md-4">
                    <div class="panel panel-default panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">伺服电机参数</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label" for="manufacturer">生产厂家:</label>
                                    <select id="manufacturer" class="form-control" ng-options="data for data in state.manufacturerOptions" ng-model="state.currentManufacturer"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="voltage">工作电压:</label>
                                    <select class="form-control" id="voltage" ng-options="data.name for data in voltageOptions" ng-model="servoMotorPara.voltage"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">负载转矩:</label>
                                    <p class="form-control-static">{{servoMotorPara.loadTorque}}</p>
                                    <label class="control-label">N·m</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">负载惯量:</label>
                                    <p class="form-control-static">{{servoMotorPara.loadInertia}}</p>
                                    <label class="control-label">kg·m^2</label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-success col-md-offset-2 col-md-3" type="button" ng-click="caculate()">计 算</button>
                                <button class="btn btn-danger col-md-offset-2 col-md-3" type="button" ng-click="reset()">重 置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="selection-content">
        <div class="cncdata-table-select">
            <div class="cncdata-table-col" ng-switch="state.colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>转动惯量</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>静转矩</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>电气参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>机械参数</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 30px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedTorque')" title="按此列排序">
                            额定转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxTorque')" title="按此列排序">
                            最大转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedRotationSpeed')" title="按此列排序">
                            额定转速
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedRotationSpeed'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedRotationSpeed'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxRotationSpeed')" title="按此列排序">
                            最大转速
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxRotationSpeed'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxRotationSpeed'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MomentOfInertia')" title="按此列排序" ng-show="state.colState[0]">
                            转动惯量
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MomentOfInertia'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MomentOfInertia'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedPower')" title="按此列排序" ng-show="state.colState[2]">
                            额定功率
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedPower'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedPower'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('StaticTorque')" title="按此列排序" ng-show="state.colState[1]">
                            静转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'StaticTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-StaticTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('DCLinkVoltage')" title="按此列排序" ng-show="state.colState[2]">
                            直流母线电压
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'DCLinkVoltage'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-DCLinkVoltage'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedCurrent')" title="按此列排序" ng-show="state.colState[2]">
                            额定电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxCurrent')" title="按此列排序" ng-show="state.colState[2]">
                            最大电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MechanicalTimeConstant')" title="按此列排序" ng-show="state.colState[3]">
                            机械时间常数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MechanicalTimeConstant'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MechanicalTimeConstant'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Mass')" title="按此列排序" ng-show="state.colState[3]">
                            质量
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Mass'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Mass'"></span>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy: state.orderProperty | pageBy: state.paginationIndex: state.paginationSize"
                        ng-click="selectItem(item)"
                        ng-class="{trselected: item.TypeID === data.selectedTypeID}"
                        class="selection-table-tr">
                        <td style="width: 30px">{{$index + 1}}</td>
                        <td ng-bind="item.TypeID"></td>
                        <td ng-bind="item.Manufacturer" type="text"></td>
                        <td ng-bind="item.RatedTorque" type="number"></td>
                        <td ng-bind="item.MaxTorque" type="number"></td>
                        <td ng-bind="item.RatedRotationSpeed"></td>
                        <td ng-bind="item.MaxRotationSpeed"></td>
                        <td ng-show="state.colState[0]" ng-bind="item.MomentOfInertia" type="number"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.RatedPower" type="number"></td>
                        <td ng-show="state.colState[1]" ng-bind="item.StaticTorque" type="number"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.DCLinkVoltage" type="number"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.RatedCurrent" type="number"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.MaxCurrent" type="number"></td>
                        <td ng-show="state.colState[3]" ng-bind="item.MechanicalTimeConstant" type="number"></td>
                        <td ng-show="state.colState[3]" ng-bind="item.Mass" type="number"></td>

                        <td><a ui-sref="selection.FeedSystem.Couplings.Details({id:item.TypeID})">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <cnc-pagination></cnc-pagination>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" ng-click="nextStep()" class="btn btn-success" ng-disabled="!data.selectedTypeID">下一步</button>
            </div>
            <div>
                <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
            </div>
        </div>
    </div>
</div>
