/*#region leftside */

.btn-selection-menu {
    height: 45px;
    line-height: 30px;
    font-size: 16px;
}

/*#endregion */

/*#region selection主体 */

.selection-content {
  margin: 0px -15px 0px -15px;
  padding: 15px 15px 15px 15px;
  background: #fff;
  box-shadow: 0px 0px 8px 1px #e4e5e6;
}

.panel.panel-default.panel-green {
    border-color: #4caf50;
}
.panel.panel-default.panel-green >.panel-heading {
    color: #fff;
    background-color: #4caf50;
}
/*#endregion */

/*#region 机床类型 */

.machine-type-img {
    cursor: pointer;
    transition:all 0.3s ease;
}
.machine-type-img:hover{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
.machine-type-img:active{
    border:1px solid #0099cc;
}
.selected {
    border:1px solid #0099cc;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
.trselected {
    background-color: #4caf50;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
}
tr.trselected.selection-table-tr:hover {
    background-color: #4caf50;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
}
tr.selection-table-tr {
    cursor: pointer;
}
tr.selection-table-tr:hover {
    background-color: #ccc;
}

/*#endregion */
