<div>
    <div class="selection-content">
        <ol class="breadcrumb">
            <li><a ui-sref="selection.FeedSystem">进给轴{{state.axisID}}轴</a></li>
            <li class="active">导轨列表</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{state.imgUrl}}" class="img-thumbnail" alt="直线导轨尺寸" />
            </div>
            <form name="guideForm">
                <div class="col-md-3">
                    <div class="panel panel-default panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">导轨相关尺寸</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL0.$invalid && !guideForm.sizeL0.$pristine}">
                                    <label for="sizeL0" class="control-label">尺寸L0:</label>
                                    <input type="number" id="sizeL0" name="sizeL0" ng-model="sizePara.sizeL0" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL1.$invalid && !guideForm.sizeL1.$pristine}">
                                    <label for="sizeL1" class="control-label">尺寸L1:</label>
                                    <input type="number" id="sizeL1" name="sizeL1" ng-model="sizePara.sizeL1" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL2.$invalid && !guideForm.sizeL2.$pristine}">
                                    <label for="sizeL2" class="control-label">尺寸L2:</label>
                                    <input type="number" id="sizeL2" name="sizeL2" ng-model="sizePara.sizeL2" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL3.$invalid && !guideForm.sizeL3.$pristine}">
                                    <label for="sizeL3" class="control-label">尺寸L3:</label>
                                    <input type="number" id="sizeL3" name="sizeL3" ng-model="sizePara.sizeL3" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL4.$invalid && !guideForm.sizeL4.$pristine}">
                                    <label for="sizeL4" class="control-label">尺寸L4:</label>
                                    <input type="number" id="sizeL4" name="sizeL4" ng-model="sizePara.sizeL4" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.sizeL5.$invalid && !guideForm.sizeL5.$pristine}">
                                    <label for="sizeL5" class="control-label">尺寸L5:</label>
                                    <input type="number" id="sizeL5" name="sizeL5" ng-model="sizePara.sizeL5" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                                <div class="form-group" ng-show="FeedSystemType=='Z'" ng-class="{'has-error':guideForm.sizeL6.$invalid && !guideForm.sizeL6.$pristine}">
                                    <label for="sizeL6" class="control-label">尺寸L6:</label>
                                    <input type="number" id="sizeL6" name="sizeL6" ng-model="sizePara.sizeL6" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">mm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">导轨参数</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="guidType" class="control-label">导轨类型:</label>
                                    <select id="guidType" ng-model="guidPara.guidType" class="form-control" ng-options="data for data in guidTypeOptions" style="width:60%"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group">
                                    <label for="rollerType" class="control-label">滚子类型:</label>
                                    <select id="rollerType" ng-model="guidPara.rollerType" class="form-control" ng-options="data.id as data.name for data in rollerTypeOptions" style="width:60%"></select>
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group" ng-show="FeedSystemType=='Y'" ng-class="{'has-error':guideForm.XMass.$invalid && !guideForm.XMass.$pristine}">
                                    <label for="XMass" class="control-label">X轴重量:</label>
                                    <input type="number" id="XMass" name="XMass" ng-model="guidPara.XMass" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">kg</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.life.$invalid && !guideForm.life.$pristine}">
                                    <label for="life" class="control-label">寿命:</label>
                                    <input type="number" id="life" name="life" ng-model="guidPara.life" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label">h</label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.safety.$invalid && !guideForm.safety.$pristine}">
                                    <label for="safety" class="control-label">安全系数:</label>
                                    <input type="number" id="safety" name="safety" ng-model="guidPara.safety" class="form-control" palceholder="请输入值" style="width:50%" data-content="一般运行状况下取1~2，轻微冲击取2~3，受冲击、振动取3~5" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.load.$invalid && !guideForm.load.$pristine}">
                                    <label for="load" class="control-label">载荷系数:</label>
                                    <input type="number" id="load" name="load" ng-model="guidPara.load" class="form-control" palceholder="请输入值" style="width:50%" data-content="根据机床的载荷情况，应取1~1.5" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.contact.$invalid && !guideForm.contact.$pristine}">
                                    <label for="contact" class="control-label">接触系数:</label>
                                    <input type="number" id="contact" name="contact" ng-model="guidPara.contact" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group" ng-class="{'has-error':guideForm.friction.$invalid && !guideForm.friction.$pristine}">
                                    <label for="friction" class="control-label">摩擦系数:</label>
                                    <input type="number" id="friction" name="friction" ng-model="guidPara.friction" class="form-control" palceholder="请输入值" style="width:50%" ng-pattern="/^(0*\.\d*[1-9]\d*|\d*[1-9]\d*\.\d*|\d*[1-9]\d*)$/" min="0" required />
                                    <label class="control-label"></label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">最小额定静载荷:</label>
                                    <p class="form-control-static">{{guidPara.minStaticLoad}}</p>
                                    <label class="control-label">N</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">最小额定动载荷:</label>
                                    <p class="form-control-static">{{guidPara.minLiveLoad}}</p>
                                    <label class="control-label">N</label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" ng-click="caculate()" class="btn btn-success col-md-offset-2 col-md-3 text-center" ng-disabled="guideForm.$invalid">计算</button>
                                <button type="button" ng-click="reset()" class="btn btn-danger col-md-offset-2 col-md-3 text-center">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="selection-content">
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="state.colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>静力矩参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>质量参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="state.colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>其他</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 30px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RollerType')" title="按此列排序">
                            滚子类型
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'RollerType'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-RollerType'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedDynamicLoad_C')" title="按此列排序">
                            基本额定动载荷
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'BasicRatedDynamicLoad_C'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-BasicRatedDynamicLoad_C'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('BasicRatedStaticLoad_C0')" title="按此列排序">
                            基本额定静载荷
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'BasicRatedStaticLoad_C0'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-BasicRatedStaticLoad_C0'"></span>
                        </td>
                        <td ng-show="state.colState[0]" class="table-td-orderable" ng-click="changeOrderProperty('AllowableStaticMoment_MR')" title="按此列排序">
                            容许静力矩MR
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'AllowableStaticMoment_MR'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-AllowableStaticMoment_MR'"></span>
                        </td>
                        <td ng-show="state.colState[0]" class="table-td-orderable" ng-click="changeOrderProperty('AllowableStaticMoment_Mp')" title="按此列排序">
                            容许静力矩Mp
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'AllowableStaticMoment_Mp'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-AllowableStaticMoment_Mp'"></span>
                        </td>
                        <td ng-show="state.colState[0]" class="table-td-orderable" ng-click="changeOrderProperty('AllowableStaticMoment_M_r')" title="按此列排序">
                            容许静力矩Mr
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'AllowableStaticMoment_M_r'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-AllowableStaticMoment_M_r'"></span>
                        </td>
                        <td ng-show="state.colState[1]" class="table-td-orderable" ng-click="changeOrderProperty('MassOfSlider')" title="按此列排序">
                            滑块质量
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'MassOfSlider'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-MassOfSlider'"></span>
                        </td>
                        <td ng-show="state.colState[1]" class="table-td-orderable" ng-click="changeOrderProperty('MassOfGuide')" title="按此列排序">
                            导轨质量
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'MassOfGuide'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-MassOfGuide'"></span>
                        </td>
                        <td ng-show="state.colState[2]" class="table-td-orderable" ng-click="changeOrderProperty('CoefficientOfFrictionGuidPairs')" title="按此列排序">
                            导轨副的摩擦系数
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'CoefficientOfFrictionGuidPairs'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-CoefficientOfFrictionGuidPairs'"></span>
                        </td>
                        <td ng-show="state.colState[2]" class="table-td-orderable" ng-click="changeOrderProperty('CoefficientOfViscousFriction')" title="按此列排序">
                            粘滞摩擦因子
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'CoefficientOfViscousFriction'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-CoefficientOfViscousFriction'"></span>
                        </td>
                        <td ng-show="state.colState[2]" class="table-td-orderable" ng-click="changeOrderProperty('SizeOfGuideFixedBolt')" title="按此列排序">
                            导轨固定螺栓尺寸
                            <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'SizeOfGuideFixedBolt'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-SizeOfGuideFixedBolt'"></span>
                        </td>
                        <td>详情</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy: state.orderProperty | pageBy: state.paginationIndex: state.paginationSize"
                        ng-click="selectItem(item)"
                        ng-class="{trselected: item.TypeID === data.selectedTypeID}"
                        class="selection-table-tr">
                        <td style="width: 30px">{{$index + 1}}</td>
                        <td ng-bind="item.TypeID"></td>
                        <td ng-bind="item.Manufacturer" type="text"></td>
                        <td ng-bind="item.RollerType" type="text"></td>
                        <td ng-bind="item.BasicRatedDynamicLoad_C" type="text"></td>
                        <td ng-bind="item.BasicRatedStaticLoad_C0" type="text"></td>
                        <td ng-show="state.colState[0]" ng-bind="item.AllowableStaticMoment_MR" type="text"></td>
                        <td ng-show="state.colState[0]" ng-bind="item.AllowableStaticMoment_Mp" type="text"></td>
                        <td ng-show="state.colState[0]" ng-bind="item.AllowableStaticMoment_M_r" type="text"></td>
                        <td ng-show="state.colState[1]" ng-bind="item.MassOfSlider" type="text"></td>
                        <td ng-show="state.colState[1]" ng-bind="item.MassOfGuide" type="text"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.CoefficientOfFrictionGuidPairs" type="text"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.CoefficientOfViscousFriction" type="text"></td>
                        <td ng-show="state.colState[2]" ng-bind="item.SizeOfGuideFixedBolt" type="text"></td>
                        <td><a ui-sref="selection.FeedSystem.Guides.Details({id:item.TypeID})">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <cnc-pagination></cnc-pagination>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" ng-click="nextStep()" class="btn btn-success" ng-disabled="!data.selectedTypeID">下一步</button>
            </div>
            <div>
                <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
            </div>
        </div>
    </div>
</div>
