<div class="selection-content">
    <ol class="breadcrumb">
        <li><a ui-sref="selection.CNCSystem">数控系统</a></li>
        <li class="active">数控系统辅件</li>
    </ol>
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">I/O单元</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="./images/CNC/IO.jpg" class="img-thumbnail" />
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="controlType" class="col-md-3 control-label">位控方式：</label>
                        <div class="col-md-3">
                            <select ng-options="data for data in controlTypeOptions" id="controlType" ng-model="IOUnit.controlType" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="baseboardId" class="col-md-3 control-label">底板型号：</label>
                        <div class="col-md-3">
                            <select ng-options="data for data in baseboardOptions" id="baseboardId" ng-model="IOUnit.baseboardId" class="form-control"></select>
                        </div>
                        <label for="baseboardNum" class="col-md-3 control-label">底板数量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="baseboardNum" ng-model="IOUnit.baseboardNum" placeholder="请输入值">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="add(0)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="minus(0)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="communicationboardId" class="col-md-3 control-label">通讯板型号：</label>
                        <div class="col-md-3">
                            <select ng-options="data for data in communicationboardOptions" id="communicationboardId" ng-model="IOUnit.communicationboardId" class="form-control"></select>
                        </div>
                        <label for="communicationboardNum" class="col-md-3 control-label">通讯板数量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="communicationboardNum" ng-model="IOUnit.communicationboardNum" placeholder="请输入值">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="add(1)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="minus(1)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IOModuleId" class="col-md-3 control-label">I/O模块型号：</label>
                        <div class="col-md-3">
                            <select ng-options="data for data in IOModuleOptions" id="IOModuleId" ng-model="IOUnit.IOModuleId" class="form-control"></select>
                        </div>
                        <label for="IOModuleNum" class="col-md-3 control-label">I/O模块数量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="IOModuleNum" ng-model="IOUnit.IOModuleNum" placeholder="请输入值">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="add(2)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="minus(2)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputboardNum" class="col-md-3 control-label">输入板数量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputboardNum" ng-model="IOUnit.inputboardNum" placeholder="请输入值">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="add(3)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="minus(3)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <label for="outputboardNum" class="col-md-3 control-label">输出板数量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="outputboardNum" ng-model="IOUnit.outputboardNum" placeholder="请输入值">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="add(4)">
                                        <i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="minus(4)">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">UPS电源</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <img src="./images/CNC/UPS电源.jpg" class="img-thumbnail" />
                        </div>
                        <div class="col-md-7">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="UPSPower.isAdd" />添加UPS电源
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="UPSId" class="control-label col-md-4">型号:</label>
                                <div class="col-md-8">
                                    <select ng-options="data for data in UPSOptions" id="UPSId" ng-model="UPSPower.UPSId" class="form-control" ng-disabled="!UPSPower.isAdd"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UPSNum" class="control-label col-md-4">数量:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="UPSNum" ng-model="UPSPower.UPSNum" placeholder="请输入值" ng-disabled="!UPSPower.isAdd">
                                        <div class="input-group-btn-vertical">
                                            <button class="btn btn-default" type="button" ng-click="add(5)" ng-disabled="!UPSPower.isAdd">
                                                <i class="fa fa-caret-up"></i>
                                            </button>
                                            <button class="btn btn-default" type="button" ng-click="minus(5)" ng-disabled="!UPSPower.isAdd">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">手操盘</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <img src="./images/CNC/手操盘.jpg" class="img-thumbnail" />
                        </div>
                        <div class="col-md-7">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="manul.isAdd" />添加手操盘
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="manulId" class="control-label col-md-4">型号:</label>
                                <div class="col-md-8">
                                    <select ng-options="data for data in manulOptions" id="manulId" ng-model="manul.manulId" class="form-control" ng-disabled="!manul.isAdd"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="manulNum" class="control-label col-md-4">数量:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="manulNum" ng-model="manul.manulNum" placeholder="请输入值" ng-disabled="!manul.isAdd">
                                        <div class="input-group-btn-vertical">
                                            <button class="btn btn-default" type="button" ng-click="add(6)" ng-disabled="!manul.isAdd">
                                                <i class="fa fa-caret-up"></i>
                                            </button>
                                            <button class="btn btn-default" type="button" ng-click="minus(6)" ng-disabled="!manul.isAdd">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" ng-click="nextStep()" class="btn btn-success">下 一 步</button>
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
            </div>
        </div>
    </div>
</div>
