<div class="selection-content">
    <ol class="breadcrumb">
        <li><a ui-sref="CNCSystem">数控系统</a></li>
        <li class="active">数控系统类型</li>
    </ol>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="Manufacturer" class="col-md-2 control-label">生产厂家：</label>
            <div class="col-md-2">
                <select class="form-control" id="Manufacturer" ng-model="state.filtrateConditions.Manufacturer" ng-options="data for data in state.ManufacturerOptions">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <label for="SupportNumberOfChannels" class="col-md-2 control-label">支持通道数：</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="SupportNumberOfChannels" ng-model="state.filtrateConditions.SupportChannels" min="1">
            </div>
            <label for="MaxControlNumberOfFeedAxis" class="col-md-2 control-label">最大进给轴数：</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="MaxControlNumberOfFeedAxis" ng-model="state.filtrateConditions.MaxNumberOfFeedShafts" min="1">
            </div>
        </div>
    </form>
    
    <div class="cncdata-table">
        <table class="table">
            <thead>
                <tr>
                    <td style="width: 30px">序号</td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                        型号
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'TypeID'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-TypeID'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                        生产厂家
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'Manufacturer'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-Manufacturer'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('Series')" title="按此列排序">
                        系列
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'Series'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-Series'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('SupportMachineType')" title="按此列排序">
                        支持机床类型
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'SupportMachineType'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-SupportMachineType'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('SupportChannels')" title="按此列排序">
                        支持通道数
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'SupportChannels'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-SupportChannels'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('MaxNumberOfFeedShafts')" title="按此列排序">
                        进给轴最大控制轴数
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'MaxNumberOfFeedShafts'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-MaxNumberOfFeedShafts'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('MaxNumberOfSpindels')" title="按此列排序">
                        主轴最大控制轴数
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'MaxNumberOfSpindels'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-MaxNumberOfSpindels'"></span>
                    </td>
                    <td class="table-td-orderable" ng-click="changeOrderProperty('MaxNumberOfLinkageAxis')" title="按此列排序">
                        最大联轴数
                        <span class="glyphicon glyphicon-arrow-up" ng-if="state.orderProperty === 'MaxNumberOfLinkageAxis'"></span>
                        <span class="glyphicon glyphicon-arrow-down" ng-if="state.orderProperty === '-MaxNumberOfLinkageAxis'"></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | cncSystemFiltrateBy: state.filtrateConditions | orderBy: state.orderProperty | pageBy: state.paginationIndex: state.paginationSize"
                    ng-click="selectItem(item)"
                    ng-class="{trselected: item.TypeID === data.selectedTypeID}"
                    class="selection-table-tr">
                    <td style="width: 30px">{{$index + 1}}</td>
                    <td ng-bind="item.TypeID"></td>
                    <td ng-bind="item.Manufacturer" type="text"></td>
                    <td ng-bind="item.Series" type="text"></td>
                    <td ng-bind="item.SupportMachineType" type="text"></td>
                    <td ng-bind="item.SupportChannels" type="text"></td>
                    <td ng-bind="item.MaxNumberOfFeedShafts" type="text"></td>
                    <td ng-bind="item.MaxNumberOfSpindels" type="text"></td>
                    <td ng-bind="item.MaxNumberOfLinkageAxis" type="text"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <cnc-pagination></cnc-pagination>
    <div class="row">
        <div class="col-md-offset-8 col-md-2">
            <button type="button" ng-click="nextStep()" class="btn btn-success" ng-disabled="!data.selectedTypeID">下 一 步</button>
        </div>
        <div>
            <button type="button" ng-click="reset()" class="btn btn-danger">取 消</button>
        </div>
    </div>
</div>
