<div class="container body-content">
    <div id="about-block">
        <div id="about-icon">
            <p>欢迎访问</p>
            <p>数控机床数据管理系统</p>
        </div>
        <hr />
        <div id="about-message">
            <p>
                数控机床被喻为工业界的航母，是所有高精尖制造业的基础。为了促进我国数控行业的发展，方便技术人员查阅和交流各项数据，华中科技大学机械科学与工程学院数控中心委托开发了此网站。
            </p>
            <p>
                网站所用到的数据由广州数控、华中数控、大连光洋、北京航天和沈阳高精等多家国内知名数控厂商提供，包括了数控机床的各个方面，包括：
            </p>
            <ul>
                <li>伺服电机</li>
                <li>伺服驱动器</li>
                <li>数控系统</li>
                <li>机械传动部件</li>
            </ul>
            <p>
                我们将保证数据的真实可靠，各项数据只能由数据的拥有者发布和维护。我们将尽力搜集数控机床的各方面数据，尽管如此，还是会有某些数据未收录其中，敬请见谅。
                为保证数据安全和满足各个厂家的需求，网站不开放注册，采取预分配账号的方式进行数据访问。如果您没有账号又想访问数据，请<a href="#/home/contact">联系我们</a>。
            </p>
        </div>
    </div>
</div>