<div class="container body-content">
    <div id="contact-block">
        <div id="contact-icon">
            <p>欢迎访问</p>
            <p>数控机床数据管理系统</p>
        </div>
        <hr />
        <div id="contact-message">
            <p>电话：027-87541114</p>
            <p>传真：027-87545438</p>
            <p>邮编：430074</p>
            <p>地址：湖北省武汉市洪山区珞瑜路1037号</p>
        </div>
        <hr />
        <div id="developer-message">
            <p>联系网站开发者：</p>
            <p>邮箱：bill_shooting@@sina.com</p>
        </div>
    </div>
</div>
