<div class="list-content">
    <div>
        <h4 class="head-title">
            <span class="glyphicon glyphicon-list"></span>
            永磁同步交流进给系统伺服电机技术参数表
            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
        </h4>
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>转矩功率</span>
            </div>
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>速度参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>电气参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>其他动力学参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[4]" ng-click="toggleCol(4, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>其他</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[5]" ng-click="toggleCol(5, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>说明</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedTorque')" ng-show="colState[0]" title="按此列排序">
                            额定转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxTorque')" ng-show="colState[0]" title="按此列排序">
                            最大转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedPower')" ng-show="colState[0]" title="按此列排序">
                            额定功率
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedPower'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedPower'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('StaticTorque')" ng-show="colState[0]" title="按此列排序">
                            静转矩
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'StaticTorque'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-StaticTorque'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('RatedRotationSpeed')" ng-show="colState[1]" title="按此列排序">
                            额定转速
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'RatedRotationSpeed'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-RatedRotationSpeed'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxRotationSpeed')" ng-show="colState[1]" title="按此列排序">
                            最大转速
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxRotationSpeed'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxRotationSpeed'"></span>
                        </td>
                        <td ng-if="colState[2]">电机磁极对数</td>
                        <td ng-if="colState[2]">直流母线电压</td>
                        <td ng-if="colState[2]">额定电流</td>
                        <td ng-if="colState[2]">最大电流</td>
                        <td ng-if="colState[2]">定子电阻</td>
                        <td ng-if="colState[2]">定子绕组每项漏电感</td>
                        <td ng-if="colState[2]">反电动势</td>
                        <td ng-if="colState[2]">相绕组电阻</td>
                        <td ng-if="colState[2]">相绕组电感</td>
                        <td ng-if="colState[2]">工作电压</td>

                        <td ng-if="colState[3]">转动惯量</td>
                        <td ng-if="colState[3]">质量</td>
                        <td ng-if="colState[3]">电机转子转动惯量</td>
                        <td ng-if="colState[4]">额定频率</td>
                        <td ng-if="colState[4]">是否带抱闸</td>
                        <td ng-if="colState[4]">安装方式</td>
                        <td ng-if="colState[5]">说明</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in items | orderBy: orderProperty">
                        <td style="width: 100px">
                            {{$index + 1}}
                            <span class="glyphicon glyphicon-pencil span-button pull-right" title="编辑这条记录" ng-click="updateItemLocal(model)"></span>
                            <button type="button" class="close" ng-click="showDeleteModal(model)" title="在数据库中删除这条记录">&times;</button>
                        </td>
                        <td>{{model.TypeID}}</td>
                        <td ng-bind="model.Manufacturer" type="text"></td>
                        <td ng-bind="model.RatedTorque" ng-show="colState[0]" type="number"></td>
                        <td ng-bind="model.MaxTorque" ng-show="colState[0]" type="number"></td>
                        <td ng-bind="model.RatedPower" ng-show="colState[0]" type="number"></td>
                        <td ng-bind="model.StaticTorque" ng-show="colState[0]" type="number"></td>
                        <td ng-bind="model.RatedRotationSpeed" ng-show="colState[1]" type="number"></td>
                        <td ng-bind="model.MaxRotationSpeed" ng-show="colState[1]" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.PairsOfMotorPole" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.DCLinkVoltage" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.RatedCurrent" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.MaxCurrent" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.StatorResistance" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.LeakageInductanceOfEachPhaseOfStatorWinding" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.CounterElectromotiveForce" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.ResistanceOfPhaseWinding" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.InductanceOfPhaseWinding" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.WorkVoltage" type="number"></td>

                        <td ng-if="colState[3]" ng-bind="model.MomentOfInertia" type="number"></td>
                        <td ng-if="colState[3]" ng-bind="model.Mass" type="number"></td>
                        <td ng-if="colState[3]" ng-bind="model.MomentOfInertiaOfMotorRotor" type="number"></td>
                        <td ng-if="colState[4]" ng-bind="model.RatedFrequency" type="number"></td>
                        <td ng-if="colState[4]" ng-bind="model.IfWithBrake" type="number"></td>
                        <td ng-if="colState[4]" ng-bind="model.ThermalTimeConstant" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.Description" type="text"></td>
                    </tr>
                    <tr ng-show="addingItems.length">
                        <td colspan="6">
                            <span class="text-center">下方为表格编辑区，可直接在表格内编辑</span>
                            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
                        <td>
                    </tr>
                    <tr ng-repeat="item in addingItems">
                        <td class="table-td-btn" ng-click="addItemRemote(item)">
                            添加到数据库
                            <button type="button" class="close" ng-click="deleteItemLocal(item)">&times;</button>
                        </td>
                        <td class="" ng-bind="item.TypeID"></td>
                        <td contenteditable="true" ng-model="item.Manufacturer" type="text"></td>
                        <td contenteditable="true" ng-model="item.RatedTorque" ng-show="colState[0]" type="number"></td>
                        <td contenteditable="true" ng-model="item.MaxTorque" ng-show="colState[0]" type="number"></td>
                        <td contenteditable="true" ng-model="item.RatedPower" ng-show="colState[0]" type="number"></td>
                        <td contenteditable="true" ng-model="item.StaticTorque" ng-show="colState[0]" type="number"></td>
                        <td contenteditable="true" ng-model="item.RatedRotationSpeed" ng-show="colState[1]" type="number"></td>
                        <td contenteditable="true" ng-model="item.MaxRotationSpeed" ng-show="colState[1]" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.PairsOfMotorPole" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.DCLinkVoltage" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.RatedCurrent" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.MaxCurrent" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.StatorResistance" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.LeakageInductanceOfEachPhaseOfStatorWinding" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.CounterElectromotiveForce" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.ResistanceOfPhaseWinding" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.InductanceOfPhaseWinding" type="number"></td>
                        <td contenteditable="true" ng-if="colState[2]" ng-model="item.WorkVoltage" type="number"></td>

                        <td contenteditable="true" ng-if="colState[3]" ng-model="item.MomentOfInertia" type="number"></td>
                        <td contenteditable="true" ng-if="colState[3]" ng-model="item.Mass" type="number"></td>
                        <td contenteditable="true" ng-if="colState[3]" ng-model="item.MomentOfInertiaOfMotorRotor" type="number"></td>
                        <td contenteditable="true" ng-if="colState[4]" ng-model="item.RatedFrequency" type="number"></td>
                        <td contenteditable="true" ng-if="colState[4]" ng-model="item.IfWithBrake" type="number"></td>
                        <td contenteditable="true" ng-if="colState[4]" ng-model="item.ThermalTimeConstant" type="number"></td>
                        <td contenteditable="true" ng-if="colState[5]" ng-model="item.Description" type="text"></td>
                    </tr>
                    <tr>
                        <td>
                            添加数据
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showAddModal()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-desc">
        <h4 class="head-title">
            <span class="glyphicon glyphicon-tags"></span>
            尺寸说明
        </h4>
        <div class="row">
            <div class="col-sm-6 list-desc-img">
                <img src="/images/Motors/进给电机-表.jpg" />
            </div>
            <div class="col-sm-6 list-desc-txt">
                <p>
                    永磁同步交流进给系统伺服电机技术参数。
                </p>
            </div>
        </div>
    </div>
</div>



