<div class="list-content">
    <div>
        <h4 class="head-title">
            <span class="glyphicon glyphicon-list"></span>
            永磁同步交流进给系统伺服电机驱动器参数表
            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
        </h4>
        <div class="cncdata-table-select">
            <div class="cncdata-table-col cncdata-table-col-checked" ng-switch="colState[0]" ng-click="toggleCol(0, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>电流参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[1]" ng-click="toggleCol(1, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>电压参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[2]" ng-click="toggleCol(2, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>增益参数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[3]" ng-click="toggleCol(3, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>积分常数</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[4]" ng-click="toggleCol(4, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>制动电阻</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[5]" ng-click="toggleCol(5, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>PWM周期</span>
            </div>
            <div class="cncdata-table-col" ng-switch="colState[6]" ng-click="toggleCol(6, $event)">
                <span class="glyphicon glyphicon-check" ng-switch-when="true"></span>
                <span class="glyphicon glyphicon-unchecked" ng-switch-when="false"></span>
                <span>说明</span>
            </div>
        </div>
        <div class="cncdata-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 100px">序号</td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('TypeID')" title="按此列排序">
                            型号
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'TypeID'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-TypeID'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('Manufacturer')" title="按此列排序">
                            生产厂家
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'Manufacturer'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-Manufacturer'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxAdaptableMotorPower')" title="按此列排序">
                            最大适配电机功率
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxAdaptableMotorPower'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxAdaptableMotorPower'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('ContinuousCurrent')" title="按此列排序" ng-show="colState[0]">
                            连续电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'ContinuousCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-ContinuousCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('PeakCurrent')" title="按此列排序" ng-show="colState[0]">
                            短时最大电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'PeakCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-PeakCurrent'"></span>
                        </td>
                        <td class="table-td-orderable" ng-click="changeOrderProperty('MaxBrakingCurrent')" title="按此列排序" ng-show="colState[0]">
                            最大制动电流
                            <span class="glyphicon glyphicon-arrow-up" ng-if="orderProperty === 'MaxBrakingCurrent'"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-if="orderProperty === '-MaxBrakingCurrent'"></span>
                        </td>
                        <td ng-if="colState[1]">电源电压</td>
                        <td ng-if="colState[1]">直流供电电压</td>
                        <td ng-if="colState[2]">位置环增益/td>
                        <td ng-if="colState[2]">速度环增益</td>
                        <td ng-if="colState[2]">d轴电流增益值</td>
                        <td ng-if="colState[3]">速度环积分常数</td>
                        <td ng-if="colState[3]">d轴电流积分常数</td>
                        <td ng-if="colState[4]">外接制动电阻</td>
                        <td ng-if="colState[5]">PWM周期</td>
                        <td ng-if="colState[6]">说明</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in items | orderBy: orderProperty">
                        <td style="width: 100px">
                            {{$index + 1}}
                            <span class="glyphicon glyphicon-pencil span-button pull-right" title="编辑这条记录" ng-click="updateItemLocal(model)"></span>
                            <button type="button" class="close" ng-click="showDeleteModal(model)" title="在数据库中删除这条记录">&times;</button>
                        </td>
                        <td>{{model.TypeID}}</td>
                        <td ng-bind="model.Manufacturer" type="text"></td>
                        <td ng-bind="model.MaxAdaptableMotorPower" type="number"></td>
                        <td ng-show="colState[0]" ng-bind="model.ContinuousCurrent" type="number"></td>
                        <td ng-show="colState[0]" ng-bind="model.PeakCurrent" type="number"></td>
                        <td ng-show="colState[0]" ng-bind="model.MaxBrakingCurrent" type="number"></td>
                        <td ng-if="colState[1]" ng-bind="model.SupplyVoltage" type="text"></td>
                        <td ng-if="colState[1]" ng-bind="model.SupplyVoltageOfDC" type="text"></td>
                        <td ng-if="colState[2]" ng-bind="model.PositionLoopGain" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.SpeedLoopGain" type="number"></td>
                        <td ng-if="colState[2]" ng-bind="model.DaxisCurrentGain" type="number"></td>
                        <td ng-if="colState[3]" ng-bind="model.IntegralConstantOfSpeedLoop" type="number"></td>
                        <td ng-if="colState[3]" ng-bind="model.IntegralConstantOfDaxisCurrent" type="number"></td>
                        <td ng-if="colState[4]" ng-bind="model.ExternalBrakingResistance" type="number"></td>
                        <td ng-if="colState[5]" ng-bind="model.CycleOfPWM" type="number"></td>
                        <td ng-if="colState[6]" ng-bind="model.Description" type="text"></td>
                    </tr>
                    <tr ng-show="addingItems.length">
                        <td colspan="6">
                            <span class="text-center">下方为表格编辑区，可直接在表格内编辑</span>
                            <span class="span-button pull-right" ng-click="updateItemsRemote()" title="保存所有修改到数据库">保存所有</span>
                        <td>
                    </tr>
                    <tr ng-repeat="item in addingItems">
                        <td class="table-td-btn" ng-click="addItemRemote(item)">
                            添加到数据库
                            <button type="button" class="close" ng-click="deleteItemLocal(item)">&times;</button>
                        </td>
                        <td class="" ng-bind="item.TypeID"></td>
                        <td class="" ng-model="item.Manufacturer" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.MaxAdaptableMotorPower" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.ContinuousCurrent" ng-show="colState[0]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.PeakCurrent" ng-show="colState[0]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.MaxBrakingCurrent" ng-show="colState[0]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.SupplyVoltage" ng-if="colState[1]" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.SupplyVoltageOfDC" ng-if="colState[1]" contenteditable="true" type="text"></td>
                        <td class="" ng-model="item.PositionLoopGain" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.SpeedLoopGain" ng-if="colState[2]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.DaxisCurrentGain" ng-if="colState[2]" contenteditable type="number"></td>
                        <td class="" ng-model="item.IntegralConstantOfSpeedLoop" ng-if="colState[3]" contenteditable type="number"></td>
                        <td class="" ng-model="item.IntegralConstantOfDaxisCurrent" ng-if="colState[3]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.ExternalBrakingResistance" ng-if="colState[4]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.CycleOfPWM" ng-if="colState[5]" contenteditable="true" type="number"></td>
                        <td class="" ng-model="item.Description" ng-if="colState[6]" contenteditable="true" type="text"></td>
                    </tr>
                    <tr>
                        <td>
                            添加数据
                            <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showAddModal()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-desc">
        <h4 class="head-title">
            <span class="glyphicon glyphicon-tags"></span>
            尺寸说明
        </h4>
        <div class="row">
            <div class="col-sm-6 list-desc-img">
                <img src="/images/Servo/永磁同步交流进给伺服电机驱动器-表.jpg" />
            </div>
            <div class="col-sm-6 list-desc-txt">
                <p>
                    永磁同步交流进给系统伺服电机驱动器。
                </p>
            </div>
        </div>
    </div>
</div>



