<div class="header">
    <div class="navbar navbar-fixed-top" id="navbar" role="navigation" style="background: none;">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand home-index-nav-link" ui-sref="home"><span>数控机床数据管理</span></a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="home" class="home-index-nav-link"><span>主页</span></a></li>
                    <li><a ui-sref="cncdata" class="home-index-nav-link"><span>查看数据</span></a></li>
                    <li><a ui-sref="selection.MachineType" class="home-index-nav-link"><span>进入选型</span></a></li>
                    <li><a ui-sref="simulation.Settings({axisID: 'X'})" class="home-index-nav-link">仿真计算</a></li>
                    <li><a ui-sref="about" class="home-index-nav-link"><span>关于</span></a></li>
                </ul>
                <!-- 登陆相关的标签 -->
                <cnc-login></cnc-login>
            </div>
        </div>
    </div>
</div>
