@charset "utf-8";



.selectionHead h3{
    text-align: center;
	font-size: 4.5em;
	color: #12a3d6;
	font-weight:400;
}

.middleNav {
    margin-top:-10px;
    margin-bottom:20px;
}


/*数字输入框*/
.spinner {
  width: 100px;
}
.spinner input {
  text-align: left;
}



.tableSelected{
  background: #CCCCCC;
}

.filterTable{
  overflow-y:auto;
}

table th{
  min-width:100px;
}

.btn-group-vertical{
  width: 100%;
}

.btn-group-vertical .btnMenu{
  height: 45px;
  line-height: 30px;
  overflow: :hidden;
}

.user{
  padding:5px;
  margin-bottom: 5px;
}













