@charset "utf-8";


input{
	margin:2px 0;
}

select{
	margin:2px 0;
}

ol,ul,li{
	list-style:none;
}

img{
	border:none;
	display:block;
}

.clearfloat{
	zoom:1;
}

.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility: hidden;
	height:0;
}