<div class="row form-horizontal">
    <div class="form-group">
        <label for="page-size" class="control-label col-md-2">每页条目数：</label>
        <div class="col-md-2">
            <select id="page-size" class="form-control" ng-change="changePaginationSize()" ng-model="state.paginationSize" ng-options="num for num in [10,20,30]"></select>
        </div>
        <div class="col-md-6 col-md-offset-1 btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button ng-repeat="index in state.paginationAllIndex" ng-click="changePaginationIndex(index)" type="button" class="btn btn-default" ng-class="{trselected: state.paginationIndex === index}">{{index}}</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="previousPage()" ng-disabled="state.paginationIndex <= 1">上一页</button>
                <button type="button" class="btn btn-default" ng-click="nextPage()" ng-disabled="state.paginationIndex >= state.pageNumber">下一页</button>
            </div>
        </div>
    </div>
</div>
