<!-- 加载动画 -->
<div class="overlay-container" ng-show="ifLoading">
    <button type="button" class="close" ng-click="messageTips.hideLoading()">&times;</button>
    <h2 class="text-center">Loading...</h2>
    <div class="text-center">
        <span id="update-msg"></span>
        <span id="error-msg"></span>
    </div>
    <div title='loading...' id="loading-animation"></div>
</div>
<!-- 出错动画 -->
<div class="overlay-container" ng-show="ifError">
    <button type="button" class="close" ng-click="messageTips.hideError()">&times;</button>
    <h2 class="text-center">操作出错</h2>
    <div class="text-center" title="error..." id="errorMsg"></div>
</div>

<!-- 巨幕标题 -->
<div class="layout-header">
    <div class="container">
        <h1>数据</h1>
        <p>详尽、包括伺服电机、伺服驱动、数控系统和机械部件等各项数据。</p>
    </div>
</div>

<div class="full-wide-body-content">
    <!-- 侧边导航 -->
    <div class="side-nav-container" id="side-nav-container">
        <div class="cncdata-side-bar">
            <div class="side-bar-title">
                <h4>数控机床分类索引</h4>
            </div>
            <ul class="side-nav-head-1">
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-motor" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-motor-ul')"></span>
                        <a href="#/cncdata/list?listname=ServoMotorParameterOfPMSACFS">伺服电机</a>
                    </div>
                    <ul id="nav-motor-ul" class="side-nav-head-2">
                        <li><a href="#/cncdata/list?listname=ServoMotorParameterOfPMSACFS">永磁同步交流电机技术参数</a></li>
                        <li><a href="#/cncdata/list?listname=ServoMotorSizeOfPMSACFS">永磁同步交流电机尺寸参数</a></li>
                        <li><a href="#/cncdata/list?listname=ServoMotorOfSpindleParameter">主轴伺服电机技术参数</a></li>
                        <li><a href="#/cncdata/list?listname=ServoMotorOfSpindleSize">主轴伺服电机尺寸参数</a></li>
                        <li><a href="#/cncdata/list?listname=ElectricSpindleParameter">电主轴技术参数</a></li>
                        <li><a href="#/cncdata/list?listname=ElectricSpindleSize">电主轴尺寸参数</a></li>
                    </ul>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-driver" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-driver-ul')"></span>
                        <a href="#/cncdata/list?listname=DriverOfServoMotorOfPMSACFS">伺服驱动器</a>
                    </div>
                    <ul id="nav-driver-ul" class="side-nav-head-2">
                        <li><a href="#/cncdata/list?listname=DriverOfServoMotorOfPMSACFS">同步交流电机驱动器</a></li>
                        <li><a href="#/cncdata/list?listname=SpindleSrvMotorDrivers">主轴系统伺服电机驱动器</a></li>
                        <li><a href="#/cncdata/list?listname=SrvDriverBrakeResistor">伺服驱动制动电阻</a></li>
                        <li><a href="#/cncdata/list?listname=SrvDriverReactors">伺服驱动电抗器</a></li>
                        <li><a href="#/cncdata/list?listname=SrvDriverTransformers">伺服驱动三相变压器</a></li>
                    </ul>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-system" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-system-ul')"></span>
                        <a href="#/cncdata/list?listname=NCSystem">数控系统</a>
                    </div>
                    <ul id="nav-system-ul" class="side-nav-head-2">
                        <li><a href="#/cncdata/list?listname=NCSystemFunctionalOptions">数据系统功能选项</a></li>
                        <li><a href="#/cncdata/list?listname=NCSystemIOUnits">数控系统IO模块数据</a></li>
                        <li><a href="#/cncdata/list?listname=NCSystemManuals">数控系统手操盘数据</a></li>
                        <li><a href="#/cncdata/list?listname=NCSystemPowerUnits">数控系统电源模块</a></li>
                    </ul>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-mech" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-mech-ul')"></span>
                        <a href="#/cncdata/list?listname=AligningBallBearings">机械传动部件</a>
                    </div>
                    <ul id="nav-mech-ul" class="side-nav-head-2">
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-coupling" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-coupling-ul')"></span>
                                <a href="#/cncdata/list?listname=BrakeWheelElasticSleevePinCoupling">联轴器</a>
                            </div>
                            <ul id="nav-mech-coupling-ul" class="side-nav-head-3">
                                <li><a href="#/cncdata/list?listname=FlangeCoupling">凹缘式联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=OldhamCoupling">十字滑块联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=GearCoupling">齿式联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=BrakeWheelElasticSleevePinCoupling">带制动套柱销联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=FlexiblePinCoupling">弹性柱销联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=ElasticSleevePinCoupling">弹性套柱销联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=PlumShapedFlexibleCoupling">梅花弹性联轴器</a></li>
                                <li><a href="#/cncdata/list?listname=HubShapedCouplings">轮毂型联轴器</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-bearing" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-bearing-ul')"></span>
                                <a href="#/CNCData/List?listname=AligningBallBearings">滚动轴承</a>
                            </div>
                            <ul id="nav-mech-bearing-ul" class="side-nav-head-3">
                                <li><a href="#/cncdata/list?listname=AngularContactBallBearings">角接触球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DeepGrooveBallBearings">深沟球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=TaperedRollerBearings">圆锥滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=CylindricalRollerBearings">圆柱滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=AligningRollerBearings">调心滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=AligningBallBearings">调心球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=BallLeadScrewSupportBearings">滚珠丝杠支撑轴承</a></li>
                                <li><a href="#/cncdata/list?listname=CrossTaperedRollerBearings">交叉圆锥滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DoubleRowCylindricalRollerBearings">双列圆柱滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DoubleThrustAngularContactBallBearings">双向推力角接触球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=NeedleRollerAndThrustRollerBearings">滚针轴承和推力滚子组合轴承</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-guide" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-guide-ul')"></span>
                                <a href="#/cncdata/list?listname=LinearRollingGuide">导轨</a>
                            </div>
                            <ul id="nav-mech-guide-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=LinearRollingGuide">直线滚动导轨</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-screw" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-screw-ul')"></span>
                                <a href="#/cncdata/list?listname=SolidBallScrewNutPairs">滚珠丝杠</a>
                            </div>
                            <ul id="nav-mech-screw-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=SolidBallScrewNutPairs">内循环式滚珠丝杠</a></li>
                                <li><a>外循环式滚珠丝杠</a></li>
                            </ul>
                        </li>                      
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-gear" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-gear-ul')"></span>
                                <a href="#/cncdata/list?listname=SpurGear">齿轮</a>
                            </div>
                            <ul id="nav-mech-gear-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=SpurGear">直齿圆柱齿轮</a></li>
                                <li><a href="#/cncdata/list?listname=HelicalCylindricalGear">斜齿圆柱齿轮</a></li>
                                <li><a href="#/cncdata/list?listname=StraightBevelGear">直齿锥齿轮</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-worm" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-worm-ul')"></span>
                                <a href="#/cncdata/list?listname=ArcCylindricalWormGear">蜗轮蜗杆</a>
                            </div>
                            <ul id="nav-mech-worm-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=ArcCylindricalWormGear">圆弧圆柱蜗轮蜗杆</a></li>
                                <li><a href="#/cncdata/list?listname=CommonCylindricalWormGear">普通圆柱蜗轮蜗杆</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-belt" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-belt-ul')"></span>
                                <a href="#/cncdata/list?listname=ArcCylindricalWormGear">传动带</a>
                            </div>
                            <ul id="nav-mech-belt-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=SpindleBeltLength">主轴同步带带长参数</a></li>
                                <li><a href="#/cncdata/list?listname=SpindleBeltParas">主轴同步带技术参数</a></li>
                                <li><a href="#/cncdata/list?listname=SpindleBeltSizes">主轴同步带尺寸参数</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-table" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-table-ul')"></span>
                                <a href="#/cncdata/list?listname=RotaryTable">其他部件</a>
                            </div>
                            <ul id="nav-mech-table-ul" class="side-nav-3-hide">
                                <li><a href="#/cncdata/list?listname=RotaryTable">数控回转工作台</a></li>
                                <li><a href="#/cncdata/list?listname=Cables">电缆辅件</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <cncdata-index-panel ng-if="ifIndex"></cncdata-index-panel>
    <align-ball-brgs-panel ng-if="listName === 'AligningBallBearings'"></align-ball-brgs-panel>
    <align-roller-brgs-panel ng-if="listName === 'AligningRollerBearings'"></align-roller-brgs-panel>
    <ang-contact-ball-brgs ng-if="listName === 'AngularContactBallBearings'"></ang-contact-ball-brgs>
    <ball-lead-screw-spt-brgs ng-if="listName === 'BallLeadScrewSupportBearings'"></ball-lead-screw-spt-brgs>
    <cross-tapered-roller-brgs ng-if="listName === 'CrossTaperedRollerBearings'"></cross-tapered-roller-brgs>
    <cylin-roller-brgs ng-if="listName === 'CylindricalRollerBearings'"></cylin-roller-brgs>
    <deep-groove-ball-brgs ng-if="listName === 'DeepGrooveBallBearings'"></deep-groove-ball-brgs>
    <double-row-cylin-roller-brgs ng-if="listName === 'DoubleRowCylindricalRollerBearings'"></double-row-cylin-roller-brgs>
    <double-thrust-ang-contact-ball-brgs ng-if="listName === 'DoubleThrustAngularContactBallBearings'"></double-thrust-ang-contact-ball-brgs>
    <needle-roller-thrust-roller-brgs ng-if="listName === 'NeedleRollerAndThrustRollerBearings'"></needle-roller-thrust-roller-brgs>
    <tapered-roller-brgs ng-if="listName === 'TaperedRollerBearings'"></tapered-roller-brgs>

    <spindle-belt-length ng-if="listName === 'SpindleBeltLength'"></spindle-belt-length>
    <spindle-belt-paras ng-if="listName === 'SpindleBeltParas'"></spindle-belt-paras>
    <spindle-belt-sizes ng-if="listName === 'SpindleBeltSizes'"></spindle-belt-sizes>

    <bw-elastic-slv-pin-coupling ng-if="listName === 'BrakeWheelElasticSleevePinCoupling'"></bw-elastic-slv-pin-coupling>
    <elastic-slv-pin-coupling ng-if="listName === 'ElasticSleevePinCoupling'"></elastic-slv-pin-coupling>
    <flange-coupling ng-if="listName === 'FlangeCoupling'"></flange-coupling>
    <flexible-pin-coupling ng-if="listName === 'FlexiblePinCoupling'"></flexible-pin-coupling>
    <gear-coupling ng-if="listName === 'GearCoupling'"></gear-coupling>
    <hub-shaped-coupling ng-if="listName === 'HubShapedCouplings'"></hub-shaped-coupling>
    <oldham-coupling ng-if="listName === 'OldhamCoupling'"></oldham-coupling>
    <plum-shaped-flexible-coupling ng-if="listName === 'PlumShapedFlexibleCoupling'"></plum-shaped-flexible-coupling>

    <pm-srv-motor-drivers ng-if="listName === 'DriverOfServoMotorOfPMSACFS'"></pm-srv-motor-drivers>
    <srv-driver-brake-resistors ng-if="listName === 'SrvDriverBrakeResistor'"></srv-driver-brake-resistors>
    <srv-driver-reactors ng-if="listName === 'SrvDriverReactors'"></srv-driver-reactors>
    <srv-driver-transformers ng-if="listName === 'SrvDriverTransformers'"></srv-driver-transformers>
    <spindle-srv-motor-drivers ng-if="listName === 'SpindleSrvMotorDrivers'"></spindle-srv-motor-drivers>

    <spur-gears ng-if="listName === 'SpurGear'"></spur-gears>
    <heli-cylin-gears ng-if="listName === 'HelicalCylindricalGear'"></heli-cylin-gears>
    <straight-bevel-gears ng-if="listName === 'StraightBevelGear'"></straight-bevel-gears>

    <line-rolling-guides ng-if="listName === 'LinearRollingGuide'"></line-rolling-guides>
    
    <elec-spindle-paras ng-if="listName === 'ElectricSpindleParameter'"></elec-spindle-paras>
    <pm-srv-motor-paras ng-if="listName === 'ServoMotorParameterOfPMSACFS'"></pm-srv-motor-paras>
    <spindle-srv-motor-paras ng-if="listName === 'ServoMotorOfSpindleParameter'"></spindle-srv-motor-paras>

    <cables-panel ng-if="listName === 'Cables'"></cables-panel>
    <rotary-tables ng-if="listName === 'RotaryTable'"></rotary-tables>

    <nc-functional-options ng-if="listName === 'NCSystemFunctionalOptions'"></nc-functional-options>
    <nc-io-units ng-if="listName === 'NCSystemIOUnits'"></nc-io-units>
    <nc-manuals ng-if="listName === 'NCSystemManuals'"></nc-manuals>
    <nc-power-units ng-if="listName === 'NCSystemPowerUnits'"></nc-power-units>

    <arc-cylin-worm-gears ng-if="listName === 'ArcCylindricalWormGear'"></arc-cylin-worm-gears>
</div>
